<body>
	<div>
	<h4>Country: <%= @destination.country %></h4>
	<h4>Region: <%= @destination.region %></h4>
	<h4>City: <%= @destination.city %></h4> 

	<% @destination.each do |t| %>
	<%= link_to "View", activity_path(t) %> 
	<% end %>  
	</div>
</body>