body {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

img {
	max-width: 300px;
	max-height: 300px;
}

#acthead {
	font-size: 40pt;
	background-color: gray;
}

#desthead {
	font-size: 40pt;
	background-color: gray;
	margin-bottom: 70pt;
}

#cityname {
	font-size: 30pt;
	font-style: italic;
}

.pure-u-1-4 {
	font-size: 14pt;
}

#email {
	text-align: left;
	margin-left: 50pt;
}

#edit {
	margin-bottom: 20pt;
}

#stay {
	background-color: #B3B3FF;
}

#eat {
	background-color: #88C3FF;
}

#visit {
	background-color: #88FFE1;
}

#drink {
	background-color: #B3CCCC;
}

#location {
	background-color: gray;
	color: white;
	padding-top: 20pt;
	padding-bottom: 20pt;
}

